header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title {
    color: rgb(1, 217, 255);
    font-size: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

button {
    /* background-color: aqua; */
    font-size: 20px;
    color: aqua;
    margin: 10px;
    padding: 15px;
    width: 120px;
    box-shadow: rgba(148, 140, 23, 0.192) 0px 50px 100px -20px,  rgba(116, 255, 2, 0.979) 0px -2px 6px 0px inset;;

}

